<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Juego e imagen hecho con CANVAS">
    <link rel="icon" href="/public/images/icons8-food-bar-48.ico">
    <link rel="stylesheet" href="/public/stylesheets/canvas.css">
     <!--Script Sweetalert-Libreria-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Restaurante Comidas Rapidas</title>
</head>
<body>
    <div id="contentCanvas">
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
    </div>
    <canvas id="canvas" width="1000px" height="718px"></canvas>
    <div id="marcador">
        <h2>PUNTUACION: <span id="puntuacion"></span></h2>
        <h2>VIDAS: <span id="vidas"></span></h2>
        <h2>RECORD: <span id="record"></span></h2>
        <br>
        <br>
        <p>
            EMPIEZA A JUGAR!!!!! <br>
            1. Usa la tecla 'a' para moverse a la izquierda y usa la letra 'd' para moverse a la derecha.<br>
            2. Atrapa todas las  pizzas(los puntos de color carne o rosa anaranjado) para sumar puntos. <br>
            3. Esquiva todas las bombas(los puntos de color negro) o perderas vidas. <br>
            4. Suma varios puntos y mejora tu record.

        </p>
        <br>
        <nav>
            <ul>
                <li><a href="http://localhost:3000">INICIO</a></li>
                <li><a href="http://localhost:3000/promociones">PROMOCIONES</a></li>
                <li><a href="http://localhost:3000/tiendas">TIENDAS</a></li>

            </ul>
        </nav>
    </div>
    <script src="/public/javascripts/canvas.js"></script>
</body>
</html>