<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.01" />
    <link rel="icon" href="/public/images/icons8-food-bar-48.ico" />
    <link rel="stylesheet" href="/public/stylesheets/empresa.css" />
    <!--Java Libraries-CSS browser-Jquery -1.12.0-->
    <script src="/public/javascripts/promociones/css_browser_selector.js"></script>
    <script src="/public/javascripts/promociones/jquery-1.12.0.min.js"></script>
    <!--Java Libraries-ScrollMagic-->
    <script src="/public/javascripts/promociones/ScrollMagic.min.js"></script>
    <script src="/public/javascripts/promociones/plugins/animation.gsap.min.js"></script>
    <script src="/public/javascripts/promociones/plugins/debug.addIndicators.min.js"></script>
    <script src="/public/javascripts/promociones/lib/greensock/TweenMax.min.js"></script>
    <script src="/public/javascripts/promociones/promociones.js"></script>
    <!--Script Sweetalert-Libreria-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Restaurante Comidas Rapidas</title>
  </head>

  <body>
    <!---------------------------CONTENT FLEX-------------------------->
    <div id="content">
      <!--------------HEADER------------------>
      <header>
        <!--HEADER LINEAUNO-->
        <div class="lineaUno">
          <!--LINEAUNO COLUMN UNO-->
          <div>
            <h1>Restaurante Comidas Rapidas</h1>
          </div>
          <!--LINEAUNO COLUMN DOS-->
          <div>
            <form action="get">
              <input type="search" id="search" />
              <button type="button" id="bot">Buscar</button>
            </form>
          </div>
          <!--LINEAUNO COLUMN TRES-->
          <div>
            <nav>
              <ul>
                <li>
                  <a href="http://localhost:3000/pedidos"
                    ><img
                      src="/public/images/icons8-carro-de-compras-con-dinero-48.png"
                      alt="Carrito de compras"
                  /></a>
                </li>
                <li>
                  <a href="http://localhost:3000/ingresar"
                    ><img
                      src="/public/images/icons8-usuario-hombre-verificado-48.png"
                      alt="Registro de usuario"
                  /></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--HEADER LINEADOS-->
        <div class="lineaDos">
          <nav>
            <ul>
              <li>
                <a href="http://localhost:3000">
                  <span style="--i: 1">M</span>
                  <span style="--i: 2">E</span>
                  <span style="--i: 3">N</span>
                  <span style="--i: 4">U</span></a
                >
              </li>
              <li>
                <a href="http://localhost:3000/promociones">
                  <span style="--i: 1">P</span>
                  <span style="--i: 2">R</span>
                  <span style="--i: 3">O</span>
                  <span style="--i: 4">M</span>
                  <span style="--i: 5">O</span>
                  <span style="--i: 6">C</span>
                  <span style="--i: 7">I</span>
                  <span style="--i: 8">O</span>
                  <span style="--i: 9">N</span>
                  <span style="--i: 10">E</span>
                  <span style="--i: 11">S</span></a
                >
              </li>
              <li>
                <a href="http://localhost:3000/tiendas">
                  <span style="--i: 1">T</span>
                  <span style="--i: 2">I</span>
                  <span style="--i: 3">E</span>
                  <span style="--i: 4">N</span>
                  <span style="--i: 5">D</span>
                  <span style="--i: 6">A</span>
                  <span style="--i: 7">S</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!--------------MAIN------------------>
      <main>
        <!--MAIN SECTION UNO-->
        <section id="imagenes">
          <div id="fondoUno"></div>
          <div id="fondoDos"></div>
          <div id="fondoTres"></div>
          <div id="fondoCuatro"></div>
        </section>
        <!--MAIN SECTION DOS-->
        <section id="empresa">
          <div id="columnaUno">
            <img
              src="/public/images/empresa/andando-y-caminando-imagen-animada-0086.gif"
              alt="Gif"
              id="caminar"
            />
            <div class="texto divTexto" id="escenaUno">
              <span style="--i: 1">V</span>
              <span style="--i: 2">E</span>
              <span style="--i: 3">N</span>
              <span style="--i: 4">-</span>
              <span style="--i: 5">Y</span>
              <span style="--i: 6">-</span>
              <span style="--i: 7">C</span>
              <span style="--i: 8">O</span>
              <span style="--i: 9">M</span>
              <span style="--i: 10">P</span>
              <span style="--i: 11">A</span>
              <span style="--i: 12">R</span>
              <span style="--i: 13">T</span>
              <span style="--i: 14">E</span>
              <span style="--i: 14">!</span>
            </div>
          </div>
          <div id="columnaDos">
            <div class="texto">
              <span style="--i: 1">E</span>
              <span style="--i: 2">M</span>
              <span style="--i: 3">P</span>
              <span style="--i: 4">R</span>
              <span style="--i: 5">E</span>
              <span style="--i: 6">S</span>
              <span style="--i: 7">A</span>
              <span style="--i: 8">-</span>
              <span style="--i: 9">R</span>
              <span style="--i: 10">C</span>
              <span style="--i: 11">R</span>
              <span style="--i: 12">!</span>
              <span style="--i: 13">!</span>
              <span style="--i: 14">!</span>
            </div>
            <p>
              Culpa nisi Lorem magna incididunt esse veniam ipsum ea ad veniam
              nisi ullamco tempor occaecat. Tempor ullamco deserunt duis
              adipisicing labore commodo tempor proident ullamco commodo. Ea
              minim id non id elit et minim sint aliquip duis nostrud. Officia
              consectetur commodo nisi tempor mollit reprehenderit. Proident
              fugiat nostrud irure et. Exercitation id aliquip aliquip ex quis
              laboris amet laborum adipisicing nulla velit dolore officia. Velit
              amet amet tempor qui eiusmod dolor. Aliqua excepteur et quis
              aliqua mollit excepteur adipisicing aute ad Lorem occaecat dolore
              magna cillum. Do enim eu nisi ut proident culpa in amet ut eu ex
              esse cupidatat. Fugiat nulla velit ullamco qui dolor tempor irure
              in nostrud minim tempor eu ut incididunt. Ullamco do reprehenderit
              dolore magna nulla. Adipisicing voluptate minim laboris quis
              aliqua sint ad anim sint amet aliqua non. Irure incididunt eiusmod
              aliquip eu cupidatat sit exercitation eiusmod veniam nostrud non
              velit enim qui. Sit officia irure laborum cillum id sunt sunt elit
              qui. Laborum mollit amet occaecat mollit. Aliquip et cupidatat
              dolore labore tempor quis non. Nostrud Lorem et esse anim.
              Consectetur culpa adipisicing amet consequat cillum culpa deserunt
              nulla esse occaecat eu. Pariatur Lorem pariatur veniam nostrud id
              mollit mollit sint excepteur laboris aliquip. Reprehenderit
              voluptate laboris sunt proident sit. Sit tempor duis duis proident
              velit id esse do est ad tempor. Labore nulla nisi sit laborum enim
              pariatur incididunt anim eu ea. Labore dolor aliquip nisi
              consectetur. Culpa deserunt sint sint Lorem laborum sint do
              veniam. Sunt pariatur ullamco culpa Lorem pariatur amet et. Tempor
              et sit ex nostrud proident ipsum. Sit ut ut elit irure sint irure
              deserunt ex. Nulla culpa sunt incididunt Lorem. Esse ea commodo
              sunt voluptate excepteur aliquip mollit sunt. Consequat ea
              exercitation dolor incididunt nostrud ipsum nostrud in fugiat
              adipisicing. Eiusmod excepteur proident sit nostrud sint labore
              incididunt consequat anim aliquip qui ut consectetur. Eiusmod et
              eu qui sit qui dolor irure. Excepteur aliquip pariatur veniam
              Lorem voluptate. Non duis duis tempor occaecat amet incididunt
              deserunt elit non duis elit nisi. Magna irure tempor ut aute magna
              amet nisi Lorem nulla qui cillum ad. Enim pariatur consectetur non
              incididunt duis. Reprehenderit occaecat sunt est tempor velit
              mollit nisi pariatur dolore adipisicing ex proident. Aliqua amet
              elit do irure sunt. Aliquip adipisicing magna quis velit deserunt
              adipisicing sunt enim do laboris. Exercitation deserunt elit
              veniam nostrud fugiat aute nulla in deserunt. Cupidatat Lorem qui
              exercitation non veniam deserunt laboris in pariatur magna eiusmod
              do mollit sint. Veniam dolore aliqua mollit sunt fugiat labore
              culpa pariatur non consequat. Ea anim consequat velit tempor id et
              commodo minim cupidatat esse. Ullamco tempor enim enim ex pariatur
              enim ad tempor aliqua laborum consectetur.
            </p>
            <p >
              Culpa nisi Lorem magna incididunt esse veniam ipsum ea ad veniam
              nisi ullamco tempor occaecat. Tempor ullamco deserunt duis
              adipisicing labore commodo tempor proident ullamco commodo. Ea
              minim id non id elit et minim sint aliquip duis nostrud. Officia
              consectetur commodo nisi tempor mollit reprehenderit. Proident
              fugiat nostrud irure et. Exercitation id aliquip aliquip ex quis
              laboris amet laborum adipisicing nulla velit dolore officia. Velit
              amet amet tempor qui eiusmod dolor. Aliqua excepteur et quis
              aliqua mollit excepteur adipisicing aute ad Lorem occaecat dolore
              magna cillum. Do enim eu nisi ut proident culpa in amet ut eu ex
              esse cupidatat. Fugiat nulla velit ullamco qui dolor tempor irure
              in nostrud minim tempor eu ut incididunt. Ullamco do reprehenderit
              dolore magna nulla. Adipisicing voluptate minim laboris quis
              aliqua sint ad anim sint amet aliqua non. Irure incididunt eiusmod
              aliquip eu cupidatat sit exercitation eiusmod veniam nostrud non
              velit enim qui. Sit officia irure laborum cillum id sunt sunt elit
              qui. Laborum mollit amet occaecat mollit. Aliquip et cupidatat
              dolore labore tempor quis non. Nostrud Lorem et esse anim.
              Consectetur culpa adipisicing amet consequat cillum culpa deserunt
              nulla esse occaecat eu. Pariatur Lorem pariatur veniam nostrud id
              mollit mollit sint excepteur laboris aliquip. Reprehenderit
              voluptate laboris sunt proident sit. Sit tempor duis duis proident
              velit id esse do est ad tempor. Labore nulla nisi sit laborum enim
              pariatur incididunt anim eu ea. Labore dolor aliquip nisi
              consectetur. Culpa deserunt sint sint Lorem laborum sint do
              veniam. Sunt pariatur ullamco culpa Lorem pariatur amet et. Tempor
              et sit ex nostrud proident ipsum. Sit ut ut elit irure sint irure
              deserunt ex. Nulla culpa sunt incididunt Lorem. Esse ea commodo
              sunt voluptate excepteur aliquip mollit sunt. Consequat ea
              exercitation dolor incididunt nostrud ipsum nostrud in fugiat
              adipisicing. Eiusmod excepteur proident sit nostrud sint labore
              incididunt consequat anim aliquip qui ut consectetur. Eiusmod et
              eu qui sit qui dolor irure. Excepteur aliquip pariatur veniam
              Lorem voluptate. Non duis duis tempor occaecat amet incididunt
              deserunt elit non duis elit nisi. Magna irure tempor ut aute magna
              amet nisi Lorem nulla qui cillum ad. Enim pariatur consectetur non
              incididunt duis. Reprehenderit occaecat sunt est tempor velit
              mollit nisi pariatur dolore adipisicing ex proident. Aliqua amet
              elit do irure sunt. Aliquip adipisicing magna quis velit deserunt
              adipisicing sunt enim do laboris. Exercitation deserunt elit
              veniam nostrud fugiat aute nulla in deserunt. Cupidatat Lorem qui
              exercitation non veniam deserunt laboris in pariatur magna eiusmod
              do mollit sint. Veniam dolore aliqua mollit sunt fugiat labore
              culpa pariatur non consequat. Ea anim consequat velit tempor id et
              commodo minim cupidatat esse. Ullamco tempor enim enim ex pariatur
              enim ad tempor aliqua laborum consectetur.
            </p>
            <div id="escenaCero">
                <img src="/public/images/empresa/Restaurante.png" alt="Restaurante" id="restaurante">
            </div>
          <div id="imagenUno"></div>
          <div id="imagenDos"></div>
          <div id="imagenTres"></div>
          </div>
        </section>
        <!--MAIN SECTION TRES-->
        <section class="columnTree">
          <!--SECTION TRES COLUMN UNO-->
          <div>
            <nav>
              <a href="http://localhost:3000/canvas"
                ><img
                  src="/public/images/modelo_pagina_general/HotDog.jpg"
                  alt=""
                  class="imagen"
              /></a>
            </nav>
            <div>
              <h3>GAME CANVAS</h3>
            </div>
          </div>
          <!--SECTION TRES COLUMN DOS-->
          <div>
            <nav>
              <a href="#"
                ><img
                  src="/public/images/modelo_pagina_general/Pizza.jpg"
                  alt="Empresa"
                  class="imagen"
              /></a>
            </nav>
            <div>
              <h3>Empresa</h3>
            </div>
          </div>
          <!--SECTION TRES COLUMN TRES-->
          <div>
            <nav>
              <a href="http://localhost:3000/trabajaConNosotros"
                ><img
                  src="/public/images/modelo_pagina_general/Hamburguesa.jpg"
                  alt="Trabaja con nosotros"
                  class="imagen"
              /></a>
            </nav>
            <div>
              <h3>Trabaja con nosotros</h3>
            </div>
          </div>
        </section>
        <!--MAIN SECTION CUATRO-->
        <section class="columnTree">
          <!--SECTION CUATRO COLUMN UNO-->
          <div>
            <h4><span>RCR</span></h4>
            <p>
              Reprehenderit amet tempor mollit Lorem. Est nostrud do excepteur
              culpa adipisicing reprehenderit veniam pariatur fugiat commodo
              Lorem laboris pariatur exercitation. Amet aliquip velit ipsum
              cupidatat ea nostrud aliquip labore magna occaecat.Est nostrud do
              excepteur culpa adipisicing reprehenderit veniam pariatur fugiat
              commodo Lorem laboris pariatur exercitation. Amet aliquip velit
              ipsum cupidatat ea nostrud aliquip labore magna occaecat.
            </p>
          </div>
          <!--SECTION CUATRO COLUMN DOS-->
          <div>
            <h4>Contactenos</h4>
            <p>
              Restaurante Comidas Rapidas S.A.S Colombia. <br />
              Nit-900 414 301 -4 <br />
              Calle 70a # 94-67 <br />
              Bogota, Colombia <br />
              Llamanos-3134173095 <br />
              Email-SuperComidasRapidas@gmail.com
            </p>
            <br />
            <nav class="ContentTwo">
              <a
                href="https://www.sic.gov.co/"
                target="_blank"
                rel="noopener noreferrer"
                ><span>Superintendencia industria y comercio S.I.C</span></a
              >
            </nav>
          </div>
          <!--SECTION CUATRO COLUMN TRES-->
          <div id="columnTreeIcon">
            <h4>Siguenos</h4>
            <nav>
              <ul>
                <li>
                  <a href="https://www.facebook.com" target="_blank"
                    ><img
                      src="/public/images/icons8-facebook.svg"
                      alt="Facebook"
                  /></a>
                </li>
                <li>
                  <a href="https://www.twitter.com" target="_blank"
                    ><img src="/public/images/icons8-twitter.svg" alt="Twitter"
                  /></a>
                </li>
                <li>
                  <a href="https://www.youtube.com" target="_blank"
                    ><img
                      src="/public/images/icons8-youtube-play.svg"
                      alt="Youtube"
                  /></a>
                </li>
                <li>
                  <a href="https://www.instagram.com" target="_blank"
                    ><img
                      src="/public/images/icons8-instagram.svg"
                      alt="Instagram"
                  /></a>
                </li>
                <li>
                  <a href="https://jsbp199414.github.io/Portafolio/" target="_blank"
                    ><img src="/public/images/icons8-hamburger-50.ico" alt=""
                  /></a>
                </li>
              </ul>
            </nav>
          </div>
        </section>
      </main>
      <!--------------FOOTER------------------>
      <footer>
        <div>
          <nav>
            <ul>
              <li>
                <a href="/public/pdf/TerminosYCondiciones.pdf" target="_blank"
                  >Terminos y condiciones</a
                >
              </li>
              <li>
                <a href="/public/pdf/PoliticasDePrivacidad.pdf" target="_blank"
                  >Politicas de privacidad</a
                >
              </li>
              <li>
                <a href="https://icons8.com/icon/DZe3wFKTc8IK/búsqueda"
                  >Búsqueda icon by Icons8</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div>
          <p>
            Designed and developed by <span> D-UNA</span> e-Commerce © 2022
            D-UNA. Derechos reservados.
          </p>
        </div>
      </footer>
    </div>
    <script src="/public/javascripts/busqueda.js"></script>
  </body>
</html>
