@import url(/public/stylesheets/mediaQuery/modeloMediaQuery.css);

/*--------------------Mediaquery max-width:1286---------------*/
@media all and (max-width:1286px){
    /*SUBMENU Carro de compras*/
    #carroCompras{  top: 0; left: 0px;width: 90%; margin: 50px auto; height: 400px;}
    tbody td.imagenAlto img{width: 80%; height:80%;}
}